#page-curriculo {
    width: 100%;
    height: 100%;

    display: flex;
}

.left-informations {
    background: #3b62ef;
    display: flex;
    justify-content: center;
    width: clamp(24rem, 25vw, 25rem);
    height: 100%;
}

.aside-itens, .personal-information {
    flex-direction: column;
}

.social-networks div {
    margin-bottom: 2rem;
}

.personal-information p {
    margin-bottom: 1.2rem;
}

header {
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

header img {
    position: relative;
    bottom: 0;
    width: 100%;
    
}