<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/curriculo.css" />

    <title>Currículo | Elison</title>
  </head>
  <body>
    <div id="page-curriculo">

      <aside class="left-informations">
        <div class="aside-itens">
          <header class="image-photo">
            <img src="/public/images/photo.JPG" alt="Foto" />
          </header>

          <div class="personal-information">
            <h3>Elison Carvalho dos Santos</h3>
            <p>
              Idade 33 anos<br />
              Casado<br />
              Mora em São Jerônimo<br />
              Rua João Nunes da Silva 96<br />
              Bairro Chananeco<br />
              Rio Grande do Sul<br />
              Cep 96700-000
            </p>
          </div>

          <div class="social-networks">
            <h2>
              Contatos&emsp;
              <hr />
            </h2>

            <div class="phone-network">
              <img src="/public/images/smartphone.png" alt="phone" />
              <p>(51)99652-4756</p>
            </div>
            <div class="whatsapp-network">
              <img src="/public/images/whatsapp.png" alt="whatsapp" />
              <p>(51)99652-4756</p>
            </div>
            <div class="email-network">
              <img src="/public/images/o-email.png" alt="email" />
              <p>tecoelison@gmail.com</p>
            </div>

            <h2>
              Redes&emsp;
              <hr />
            </h2>

            <div class="facebook-network" style="word-wrap: break-word">
              <img src="/public/images/facebook.png" alt="facebook" />
              <a href="https://www.facebook.com/elison.carvalhodossantos" target="_blank">facebook.com/elison</a>
            </div>
            <div class="linkedin-network">
              <img src="/public/images/linkedin.png" alt="linkedin" />
              <a href="https://www.linkedin.com/in/elison-carvalho-dos-santos-147552187/" target="_blank">linkedin.com/in/elison</a>
            </div>
            <div class="github-network">
              <img src="/public/images/logotipo-do-github.png" alt="github" />
              <a href="https://github.com/TecoElison" target="_blank">github.com/TecoElison</a>
            </div>
          </div>
        </div>
      </aside>

<div class="description-container">

      <div>
        <h2>Objetivo&emsp;
          <hr /></h2>
        <p>
Estou em transição de carreira e busco 
uma oportunidade de estágio ou efetivo 
como desenvolvedor de software, sendo assim, 
gostaria de uma oportunidade que ajudasse no meu 
desenvolvimento como profissional nesta nova etapa 
da minha carreira.
</p>
      </div>

      <div>
        <h2>Resumo&emsp;
          <hr /></h2>
        <p>
          Sou apaixonado por tecnologia e inovação 
          e me identifiquei com a área de desenvolvimento 
          pois constantemente existem novos desafios e oportunidades de aprender. 
          O desenvolvimento mobile e web é meu foco no momento, 
          mas estou aberto para aprender novas tecnologias dentro 
          da área de desenvolvimento.
</p>
      </div>

      <div class="formations">
        <h2>Formação&emsp;
          <hr /></h2>
          <div class="all-formations">
        <div>
          <h3>Sistemas de Informação</h3>
          <h3>Universidade Luterana do Brasil </h3>
          <p>Início agosto/2015</p>
          <p>Previsão término 2021</p>
          <a href="https://www.google.com/maps/place/Ulbra+-+S%C3%A3o+Jer%C3%B4nimo/@-29.9719239,-51.7131482,15z/data=!4m5!3m4!1s0x0:0x5974e4f5e890c841!8m2!3d-29.9719239!4d-51.7131482" target="_blank">
            <img src="/public/images/pin.png" alt="ir para Ulbra" >Ir para Ulbra</a>
        </div>

        <div>
          <h3>Técnico em Eletromecânica</h3>
          <h3>Escola Técnica Cenecista Carolino Euzébio Nunes</h3>
          <p>Início março/2007</p>
          <p>Término julho/2008</p>
          <a href="https://www.google.com/maps/place/Escola+T%C3%A9cnica+Cenecista+Carolino+Euz%C3%A9bio+Nunes/@-29.959803,-51.6171652,15z/data=!4m5!3m4!1s0x0:0x1b05375fe7a8bd52!8m2!3d-29.959803!4d-51.6171652" target="_blank">
            <img src="/public/images/pin.png" alt="ir para Ulbra" >Ir para ETCCEN</a>
        </div>
      </div>

      </div>

      <div class="professional">
        <h2>Histórico Profissional&emsp;
          <hr /></h2>
          <div class="all-professional">
        <div>
          <h3>GKN Automotive</h3>
          <p>Data início: 06/2010 <br/>
          Data término: 07/2020<br/>
          Função: operador de máquinas<br/>
          Descrição das tarefas: Operar máquinas em geral, 
          controle de processo, preenchimento de 
          documentação de processo, cumprir procedimentos de Lean, 
          controle de qualidade, controle do fluxo de processos.</p>
          <a href="https://www.google.com/maps/place/GKN+Driveline/@-29.9534825,-51.6092999,15z/data=!4m5!3m4!1s0x0:0x55c75683bb8ba7b4!8m2!3d-29.9534825!4d-51.6092999" target="_blank">
            <img src="/public/images/pin.png" alt="ir para Ulbra" >Ir para GKN</a>
        </div>

        <div>
          <h3>Multilab Indústria e Comércio de Produtos Farmacêuticos LTDA</h3>
          <p>Data início: 08/2006 <br/>
          Data término: 03/2009<br/>
          Função: operador de máquinas<br/>
          Descrição das tarefas: Operar máquinas em geral, 
          controle de processo, preenchimento de documentação 
          de processo, liderar equipes quando necessário, 
          conhecimentos de manipulação de medicamentos.</p>
          <a href="https://www.google.com/maps/place/Multilab+Ind%C3%BAstria+e+Com%C3%A9rcio+de+Produtos+Farnac%C3%AAuticos+Ltda./@-29.9719421,-51.7075987,15z/data=!4m5!3m4!1s0x0:0x63118eb8f421185d!8m2!3d-29.9719421!4d-51.7075987" target="_blank">
            <img src="/public/images/pin.png" alt="ir para Ulbra" >Ir para Multilab</a>
        </div>
      </div>

      </div>
      
      <div>
        <h2>Conhecimentos&emsp;
          <hr /></h2>
        <p>
          Possuo conhecimentos em linguagens C, PHP, Java, JavaScript, SQL. 
Estou focado atualmente nos estudos da linguagem Java, 
SQL (projeto com SQLite) e na construção de layouts para web com HTML e CSS.

</p>
      </div>
    </div>
    </div>
  </body>
</html>
