<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/curriculo.css" />

    <title>Currículo | Elison</title>
  </head>
  <body>
    <div id="page-curriculo">
      <aside class="left-informations">
        <div class="aside-itens">
          <header class="image-photo">
            <img src="/public/images/photo.JPG" alt="Foto" />
          </header>

          <div class="personal-information">
            <h3>Elison Carvalho dos Santos</h3>
            <p>
              Idade 33 anos<br />
              Casado<br />
              Mora em São Jerônimo<br />
              Rua João Nunes da Silva 96<br />
              Bairro Chananeco<br />
              Rio Grande do Sul<br />
              Cep 96700-000
            </p>
          </div>

          <div class="social-networks">
            <h2>
              Contatos&emsp;
              <hr />
            </h2>

            <div class="phone-network">
              <img src="/public/images/smartphone.png" alt="phone" />
              <p>(51)99652-4756</p>
            </div>
            <div class="whatsapp-network">
              <img src="/public/images/whatsapp.png" alt="whatsapp" />
              <p>(51)99652-4756</p>
            </div>
            <div class="email-network">
              <img src="/public/images/o-email.png" alt="email" />
              <p>tecoelison@gmail.com</p>
            </div>

            <h2>
              Redes&emsp;
              <hr />
            </h2>

            <div class="facebook-network" style="word-wrap: break-word">
              <img src="/public/images/facebook.png" alt="facebook" />
              <a href="https://www.facebook.com/elison.carvalhodossantos" target="_blank">facebook.com/elison</a>
            </div>
            <div class="linkedin-network">
              <img src="/public/images/linkedin.png" alt="linkedin" />
              <a href="https://www.linkedin.com/in/elison-carvalho-dos-santos-147552187/" target="_blank">linkedin.com/in/elison</a>
            </div>
            <div class="github-network">
              <img src="/public/images/logotipo-do-github.png" alt="github" />
              <a href="https://github.com/TecoElison" target="_blank">github.com/TecoElison</a>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>
