<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/curriculo.css" />

    <title>Currículo | Elison</title>
  </head>
  <body>
    <div id="page-curriculo">
      <aside class="left-informations">
        <div class="aside-itens">
          <header class="image-photo">
            <img src="/public/images/photo.JPG" alt="Foto" />
          </header>

<div class="personal-information">
<p>33 anos</p>
<p>Casado</p>
<p>Mora em São Jerônimo</p>
<p>Rio Grande do Sul</p>

</p>
</div>

          <div class="social-networks">
              
              <div class="linkedin-network">
                  <img src="" alt="linkedin">
              </div>
              <div class="github-network">
                <img src="" alt="github">
             </div>
             <div class="whatsapp-network">
                <img src="" alt="whatsapp">
             </div>
             <div class="phone-network">
                <img src="" alt="phone">
             </div>
             <div class="email-network">
                <img src="" alt="email">
             </div>
          </div>
        </div>
      </aside>
    </div>
  </body>
</html>
