<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/main.css" 
    rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" 
    rel="stylesheet">
    <title>Currículo</title>
</head>

<body>
   <div id="page-lading">
       <div id="container">
           
           <main>
               <div class="left-items">
            <h1>Meu Currículo</h1>
            <a href="/src/views/curriculo.html" title="ir para currículo">GET STARTED</a>
            <p>
                Este projeto foi desenvolvido para apresentar  
                o currículo de Elison Carvalho dos Santos 
                forma interativa e com uma maior riqueza de informações 
                a seu respeito
            </p>
        </div>
        
            <img class="image-main" src="/public/images/image-main.png" rel='isométrico png from pngtree.com'>
        
           </main>
       </div>
   </div> 
</body>
</html>